<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../css/index.css" />
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div class="cnt">
			<aside class="nav">
				<a class="avatar" href="/index.html"></a>
				<div class="blist">
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
					<a class="btitle">
						标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题
					</a>
				</div>
			</aside>
			<div class="main"></div>
		</div>
	</body>
</html>